<div class="cover-user-show">
  <div class="container">
    <div class="row">
      <div class="title">
        <div class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <% if user_signed_in? && @user == current_user %>
            <h1 class="font-weight-normal mt-3">マイページ</h1>
            <% else %>
            <h1 class="font-weight-normal mt-3"><%= @user.name %></h1>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="user-profile">
        <div class="columns">
          <div class="column">
            <figure class="image"  style="margin-left: auto; margin-right: auto;">
              <% if @user.avatar.present? %>
                <%= image_tag @user.avatar.url, class: 'rounded-circle', fallback: "no-image.png", size: '100x100' %>
              <% else %>
                <%= image_tag "default_avator_image.png", class: 'rounded-circle', size: '100x100' %>
              <% end %>
            </figure>
          </div>
          <div class="column">
            <table class="table">
              <tr>
                <% if @user.id == current_user.id %>
                <td>
                  <%= @user.email %>
                </td>
                <td>
                  <% if user_signed_in? && @user == current_user %>
                  <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn-sm btn-success" %>
                  <% end %>
                </td>
                <% end %>
              </tr>
            </table>
            <table class="table">
              <tr>
                <td>
                  <%= @user.profile %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns">
      <% @posts.each do |post| %>
        <div class="userpage-post">
          <figure>
            <%= link_to post_path(post) do %>
              <p class="caption mb-0"><%= post.location %></p>
              <p class="caption"><%= "#{post.comments.count} コメント" %></p>
            <% end %>
          </figure>
          <div class="media">
            <div class="media-content">
              <%= link_to  post_path(post) ,class: "btn btn-primary text-white" do %>
                <i class="fas fa-search"></i> 
              <% end %>
              <% if @user.id == current_user.id %>
                <%= link_to edit_post_path(post), class: "btn btn-secondary text-white" do %>
                  <i class="fas fa-pen"></i>
                <% end %>
                <%= link_to post_path(post) , data: { turbo_method: 'delete', turbo_confirm: '投稿を削除しますか？' },class: "btn btn-danger text-white" do %>
                  <i class="far fa-trash-alt"></i> 
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
