<div class="cover-show">
  <div class="container">
  <h1 class="font-weight-normal mt-5 mb-5">撮影場所詳細</h1>
    <p class="caption"><%= @post.location %></p>
    <p class="caption"><%= @post.user.name %></p>
    <div class="row">
      <div class="col-xs- col-sm- col-md- col-lg-6 col-xl-">
        <%= image_tag @post.postimage.url, :size => '300x200' %>
      </div>
      <div class="col-xs- col-sm- col-md-4 col-lg-6 col-xl-">
        <div id="map" style="height: 200px; width: 300px;"></div>
        <script>
          function initMap(){
            let mapPosition = {lat: <%= @post.latitude %> , lng: <%= @post.longitude %> };
            let map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: mapPosition
            });
            let transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);
  
            let contentString = '【住所】<%= @post.address %>';
            let infowindow = new google.maps.InfoWindow({
              content: contentString
            });
  
            let marker = new google.maps.Marker({
              position: mapPosition,
              map: map,
              title: contentString
            });
  
            marker.addListener('click', function(){
              infowindow.open(map, marker);
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
      </div>
      </div>
      <div class="col-xs- col-sm- col-md- col-lg-6 col-xl- ml-5 mt-5">
        <% if current_user.already_favorited?(@post) %>
          <%= button_to post_favorites_path(@post),class: "favorite_btn", method: :delete do %>
            ♥<%= @post.favorites.count %> いいね
          <% end %>
          <% else %>
          <%= button_to post_favorites_path(@post),class: "favorite_btn", method: :post do %>
            ♡<%= @post.favorites.count %> いいね
          <% end %>
        <% end %>
      </div>
      <div>
        <h2>感想</h2>
        <p id="text"><%= @post.text %></p>
        <% if @post.user == current_user %>
        <%= link_to '編集する', edit_post_path(@post.id), class: "btn btn-info mr-3" %>
          <%= link_to '削除する',post_path(@post.id),
            data: { turbo_method: 'delete', turbo_confirm: '投稿を削除しますか？' }, class: "btn btn-danger" %>
        <% end %>
        <div>
          <%= link_to '投稿一覧ページへ', posts_path, class: "btn btn-dark mt-3" %>
        </div>
      </div>
      <div class="comments ml-5 mt-5">
        <%= form_with model:[@post, @comment] do |f| %>
        <%= f.text_area :comment, :size=>"30x3",placeholder: "コメントする" %>
        <%= f.submit "送信する", class: "btn btn-success mb-4" %>
        <% end %> 
        <p>コメント件数：<%= @comments.count %></p>
        <% @comments.each do |comment| %>
        <div class="comments-index mb-2">
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><br>
          <div class="d-flex">
            <%= comment.comment %>
            <% if comment.user == current_user %>
            <div class="comment-delete">
              <%= link_to "削除", post_comment_path(comment.post, comment),
              data: { turbo_method: 'delete', turbo_confirm: 'コメントを削除しますか？' }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
